# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig INPUT_MPR121
    bool "NXP MPR121 Capacitive Touch"
    default y
    depends on GPIO
    depends on I2C
    depends on INPUT
#    depends on DT_HAS_NXP_MPR121_ENABLED
    help
      Enable driver for NXP MPR121 based capacitive touch

if INPUT_MPR121

config INPUT_MPR121_INIT_PRIORITY
    int "NXP MPR121 initialization priority"
    default INPUT_INIT_PRIORITY

#if ZMK_MOUSE

config ZMK_INPUT_MPR121_IDLE_SLEEPER
    bool "NXP MPR121 Sleep linked to ZMK idle state"
    default n

#endif

endif